{% extends 'base_content.html'%}
{% block title %}
| Sign Up
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Sign up</h2>
        <form action="{% url 'sign_up' %}" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <a href='{% url 'home' %}' class="btn btn-outline-danger">Cancel</a>&nbsp;
            <input type="submit" value="Sign Up" class="btn btn-primary">
        </form>
        <br>
        <br>
      </div>
    </div>
  </div>
{% endblock %}
