<script>
  function displayPastTournaments() {
    document.getElementById("past_tournaments_tab").classList.add('active');
    document.getElementById("past_tournaments_table_body").style.display = "table";

    if (document.getElementById("upcoming_tournaments_tab").classList.contains('active')) {
      document.getElementById("upcoming_tournaments_tab").classList.remove('active');
      document.getElementById("upcoming_tournaments_table_body").style.display = "none";
    } else if (document.getElementById("ongoing_tournaments_tab").classList.contains('active')) {
      document.getElementById("ongoing_tournaments_tab").classList.remove('active');
      document.getElementById("ongoing_tournaments_table_body").style.display = "none";
    }

  }
  function displayOngoingTournaments() {
    document.getElementById("ongoing_tournaments_tab").classList.add('active');
    document.getElementById("ongoing_tournaments_table_body").style.display = "table";

    if (document.getElementById("upcoming_tournaments_tab").classList.contains('active')) {
      document.getElementById("upcoming_tournaments_tab").classList.remove('active');
      document.getElementById("upcoming_tournaments_table_body").style.display = "none";
    } else if (document.getElementById("past_tournaments_tab").classList.contains('active')) {
      document.getElementById("past_tournaments_tab").classList.remove('active');
      document.getElementById("past_tournaments_table_body").style.display = "none";
    }

  }
  function displayUpcomingTournaments() {
    document.getElementById("upcoming_tournaments_tab").classList.add('active');
    document.getElementById("upcoming_tournaments_table_body").style.display = "table";

    if (document.getElementById("past_tournaments_tab").classList.contains('active')) {
      document.getElementById("past_tournaments_tab").classList.remove('active');
      document.getElementById("past_tournaments_table_body").style.display = "none";
    } else if (document.getElementById("ongoing_tournaments_tab").classList.contains('active')) {
      document.getElementById("ongoing_tournaments_tab").classList.remove('active');
      document.getElementById("ongoing_tournaments_table_body").style.display = "none";
    }

  }
</script>
