{% extends 'base_content.html' %}
{% block title %}
| Applications
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Your Applications:</h1>
        <table class="table">
            <!-- to be able to show the window messages-->
            {% load define_action %}

          <style>
            .standard-table-spacing{
              vertical-align: middle;
              border-spacing: 10px 2px;
            }
          </style>

            {% if applications.count == 0 %}
            <br>
            <tr>
              <b><p style="font-family: verdana; font-size: 250%;"> No more applications </p> </b>
            </tr>

            {% else %}

            <table class="table standard-table-spacing">
              <tr>
                <th>Name</th>
                <th>Experience</th>
                <th>Personal Statement</th>
                <th>
              </tr>

            {% for app in applications %}

            <tr>
              <td>{{ app.user.first_name }} {{ app.user.last_name }}</td>
              <td><b>{{ app.experience }}</b></td>
              <td>{{ app.personal_statement }}</td>
              <td style="vertical-align: bottom; padding: 10px"><a href='{% url "respond_to_application" app.id 1  %}' onclick="confirmAcceptApplication()" class="btn btn-success">Accept application</a></td>
              <td style="vertical-align: bottom; padding: 10px"><a href='{% url "respond_to_application" app.id 0  %}' onclick="confirmRejectApplication()" class="btn btn-danger">Withdraw application</a></td>
            </tr>

            <script>
              function confirmAcceptClub(){
                if(confirm('Are you sure you want to accept this applicant?')){
                  return true;
                }else{
                  event.stopPropagation(); event.preventDefault();
                }
              }
              function confirmRejectApplication(){
                if(confirm('Are you sure you want to reject this applicant?')){
                  return true;
                }else{
                  event.stopPropagation(); event.preventDefault();
                }
              }
              </script>


            {% endfor %}
            {% endif %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
