{% extends 'base_content.html' %}
{% block content %}
{% load define_action %}
{% check_is_owner club current_user as is_owner %}
{% check_is_officer club current_user as is_officer %}
{% get_banned_members club as banned_members %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{club.name}} Banned members: </h1>
        <style>
          .standard-table-spacing{
            vertical-align: middle;
            border-spacing: 10px 2px;
          }
        </style>
        <table class="table standard-table-spacing">

        {% if banned_members.count == 0 %}
          <br>
          <tr>
            <b><p style="font-size: 250%;"> No banned members </p> </b>
          </tr>
        {% else %}
          <tr>
            {% include 'member_list_partials/table_header_basics.html' with include_counter=True%}
            {% include 'member_list_partials/table_header_extras.html' with is_owner=is_owner is_officer=is_officer %}
            {% if is_owner %}
            <th></th>
            {% endif %}

          </tr>
          {% for ban_member in banned_members %}
          <tr>
            {% include 'member_list_partials/table_row_basics.html' with user=ban_member.user include_counter=True %}
            {% include 'member_list_partials/table_row_extras.html' with user=ban_member.user is_owner=is_owner is_officer=is_officer %}
            {% if is_owner %}
            <td style="width: 100px"><a style="width: 100px" href='{% url 'unban_member' ban_member.id %}' class="btn btn-danger">Unban</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        {% endif %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
