{% extends 'base_content.html' %}
{% block content %}
{% load define_action %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{club.name}} Banned members: </h1>
        <style>
          .standard-table-spacing{
            vertical-align: middle;
            border-spacing: 10px 2px;
          }
        </style>
        <table class="table standard-table-spacing">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Bio</th>
            <th></th>

          </tr>
        {% for ban_member in banned_members %}
          <tr>
            <td> {{ forloop.counter }} <td>
            <td> <img src="{{user.mini_gravatar}}" alt="Gravatar" style="border-radius: 50%"> </td>
            <td> @{{ ban_member.user.username }} </td>
            <td> {{ ban_member.user.first_name }} {{ ban_member.user.last_name }} </td>
            <td> {{ ban_member.user.email }} </td>
            <!-- <td> {{ban_member.user.level}}<td> -->
            <td> {{ ban_member.user.bio }} </td>
            <td style="width: 100px"><a style="width: 100px" href='{% url 'unban_member' ban_member.id %}' class="btn btn-danger">Unban</a></td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
