{% extends 'base.html' %}
{% block body %}
  <div id="cover-image">
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-4">
            <h1 class="cover-heading d-flex justify-content-center">Checkmates</h1>
            <h2 class="cover-text d-flex justify-content-center"><a href='{% url 'sign_up' %}' class="home-page-button btn btn-lg btn-secondary">Sign Up</a></h2>
            <h2 class="cover-text d-flex justify-content-center"><a href='{% url 'log_in' %}' class="home-page-button btn btn-lg btn-secondary">Log In</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
