{% extends 'base_content.html'%}
{% block title %}
| 500 Error
{% endblock %}
{% block content %}

<div id="cover-image">
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-4">
            <h1 class="cover-heading d-flex justify-content-center">500 Error</h1>
            <h2 class="cover-text d-flex justify-content-center">Server Error</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}