{% extends 'base_content.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{club.name}} Members: </h1>
        <style>
          .standard-table-spacing{
            vertical-align: middle;
            border-spacing: 10px 2px;
          }
        </style>
        <table class="table standard-table-spacing">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th> Name</th>
            <th> Username</th>
            <th> Bio</th>
            {% chec%}
            <th></th>
          </tr>
        {% for member in members %}
          <tr>
            <td> {{ forloop.counter }} <td>
            <td> <img src="{{user.mini_gravatar}}" alt="Gravatar" style="border-radius: 50%"> </td>
            <td> @{{ member.user.username }} </td>
            <td> {{ member.user.first_name }} {{ member.user.last_name }} </td>
            <td> {{ member.user.bio }} </td>
            {% if True %}
              <td><a>{{ member.user.email }}</a></td>
            {% endif %}
            <td><i></i></td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
