{% extends 'base_content.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{club.name}} Members</h1>
        <table class="table">
        {% for member in members %}
        <tr>
          <td><b>{{ member.user.last_name }}</b></td>
          <td><a>{{ member.user.first_name }}</a></td>
          {% if curr_user_is_officer %}
            <td><a>{{ member.user.email }}</a></td>
          {% endif %}
          {% if curr_user_is_owner %}
            <td><a>{{ member.user.email }}</a></td>
          {% endif %}
          <td><i></i></td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
