{% extends 'base_content.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 style=font-size:85px> Chess Clubs </h1>
        <p> Welcome to chess clubs, a place to share your love for chess. Join a club from the list below to play with fellow chess enthusiasts. </p>
        <p> Can't find a club that is right for you? Create your own club for free! </p>
        <br>
        <div class="d-flex justify-content-center">
          <a href="{% url 'create_club' %}" class="btn btn-primary btn-lg">Create New Club</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search for a club">
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
        <br>
        <table class="table">
        {% for club in my_clubs %}
        <tr>
          <td><b>{{ club.name }}</b></td>
          <td><i></i></td>
          <td><a href='{% url 'apply_to_club' club.id %}' class="btn btn-sm btn-dark">Apply to club</a></td>
          <td><a href='{% url 'show_club' club.id%}' class="btn btn-sm btn-dark">Show Details</a></td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
