{% extends 'base_content.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'create_club' %}" class="btn btn-primary btn-lg">Create New Club</a>
        <table class="table">
        {% for club in my_clubs %}
        <tr>
          <td><b>{{ club.name }}</b></td>
          <td><i></i></td>
          <td><a href='{% url 'apply_to_club' club.id %}' class="btn btn-sm btn-dark">Apply to club</a></td>
          <td><a href='{% url 'show_club' club.id%}' class="btn btn-sm btn-dark">Show Details</a></td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
