{% extends 'base_content.html'%}
{% block title %}
| {{club.name}}
{% endblock %}
{% block content %}
{% include 'partials/js_confirm_messages.html'%}
{% load static %}
{% load define_action %}
{% check_is_owner club current_user as is_owner %}
{% check_is_officer club current_user as is_officer %}
{% check_is_member club current_user as is_member %}
{% check_has_applied club current_user as has_applied %}
{% count_members club as number_of_members%}
{% get_owner club as owner %}
{% get_officers club as officers %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {%csrf_token%}
        <h1 style=font-size:50px><b>{{ club.name }}</b></h1>
        <br>
        <p><i class="bi bi-people-fill"></i> {{ number_of_members }}<p>
        <P><i class="bi bi-geo-alt-fill"></i> {{ club.location }}</p>
        <p><b>Description: </b> {{ club.description }} </p>
        <b>Owner: </b>
        <style>
          .standard-table-spacing{
            vertical-align: middle;
            border-spacing: 10px 2px;
          }
        </style>
        <table class="table standard-table-spacing">
          <tr>
            {% include 'member_list_partials/table_header_basics.html' with include_counter=False %}
            {% include 'member_list_partials/table_header_extras.html' with is_owner=True is_officer=True %}
          </tr>
          <tr>
            {% include 'member_list_partials/table_row_basics.html' with user=owner.user include_counter=False %}
            {% include 'member_list_partials/table_row_extras.html' with user=owner.user is_owner=True is_officer=True %}
            <td></td>
          </tr>
        </table>
        {% if is_member %}
        <br>
        <b>Officers: </b>
        <table class="table standard-table-spacing">
          {%if not officers %}
          <tr><td></td></tr>
          <tr><td> No Officers </td></tr>
          {% else %}

          <tr>
            {% include 'member_list_partials/table_header_basics.html' with include_counter=True %}
            {% include 'member_list_partials/table_header_extras.html' with is_owner=True is_officer=True %}
          </tr>
            {% for officer in officers %}
          <tr>
              {% include 'member_list_partials/table_row_basics.html' with user=officer.user include_counter=True %}
              {% include 'member_list_partials/table_row_extras.html' with user=officer.user is_owner=True is_officer=True %}
          </tr>
            {% endfor %}
          {% endif %}
        </table>
        {% endif %}
        <br>
        <table>
          <tr>
            <style>
            .button-cell-spacing{
              padding: 20px;
            }
            </style>
            <td class="button-cell-spacing"><a href='{% url 'members_list' club.id %}' class="btn btn-primary">Members</a></td>

        {% if has_applied %}
            <td class="button-cell-spacing"><a href='{% url 'withdraw_application_to_club' club.id %}' onclick="confirmMsg('withdraw_application')" class="btn btn-warning">Withdraw application</a></td>
        {% elif is_member %}
          {% if is_officer or is_owner %}
            <td class="button-cell-spacing"><a href='{% url 'banned_members' club.id %}' class="btn btn-primary">Banned Members</a></td>
            <td class="button-cell-spacing"><a href='{% url 'show_applications_to_club' club.id %}' class="btn btn-primary">Applications</a></td>
            {% if is_owner %}
            <td class="button-cell-spacing"><a href='{% url 'edit_club_info' club.id %}' class="btn btn-primary">Edit Club</a></td>
            <td class="button-cell-spacing"><a href='{% url 'delete_club' club.id %}' class="btn btn-danger" onclick="confirmMsg('delete_applications')">Delete Club</a></td>
            {% endif %}
          {% endif %}
          {% if not is_owner %}
            <td class="button-cell-spacing"><a href='{% url 'leave_club' club.id %}' onclick="confirmMsg('leave_club')" class="btn btn-danger">Leave club</a></td>
          {% endif %}
        {% else%}
            <td class="button-cell-spacing"><a href='{% url 'apply_to_club' club.id %}' class="btn btn-success">Apply to club</a></td>
        {% endif %}
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
