{% extends 'base_content.html'%}
{% block title %}
| {{club.name}}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {%csrf_token%}
        <td><a href='{{request.META.HTTP_REFERER}}' class="btn btn-primary">Back</a></td>
        <h1><b>{{club.name}}</b></h1>
        <P><B>Location: </b> {{club.location}}</p>
        <p><b>Description: </b> {{club.description}} </p>
        <p><b>Number of Members: </b> {{members}} </p>
        {% if userIsMember == False %}
          <td><a href='{% url 'apply_to_club' club.id %}' class="btn btn-primary">Apply to club</a></td>
        {% else %}
          <b>Owner: </b>
          <table class="table">
            <td><b></b></td>
            <td><b>Username</b></td>
            <td><b>Last Name</b></td>
            <td><b>First Name</b></td>
            <td><b>Bio</b></td>
            {% if userIsOwner or userIsOfficer%}
            <td><b>Email</b></td>
            {%endif%}
          <tr>
            <td> <img src="{{user.mini_gravatar}}" alt="Gravatar" style="border-radius: 50%"> </td>
            <td><a>{{owner.user}} </a></td>
            <td><a>{{owner.user.last_name}} </a></td>
            <td><a>{{owner.user.first_name}} </a></td>
            <td><a>{{owner.user.bio}} </a></td>
            {% if userIsOwner == True%}
            <td><a>{{ owner.user.email }}</a></td>
            {%endif%}
            {% if userIsOfficer == True%}
            <td><a>{{ owner.user.email }}</a></td>
            {%endif%}
            <td><i></i></td>
          </tr>
          </table>
          <b>Officers: </b>
          <table class="table">
            <td><b></b></td>
            <td><b>Username</b></td>
            <td><b>Last Name</b></td>
            <td><b>First Name</b></td>
            {% if userIsOwner or userIsOfficer%}
            <td><b>Email</b></td>
            {%endif%}

          {% for officer in officers %}
          <tr>
            <td><a> <img src="{{user.mini_gravatar}}" alt="Gravatar" style="border-radius: 50%"> </a></td>
            <td><a>{{ officer.user }}</a></td>
            <td><a>{{ officer.user.last_name }}</a></td>
            <td><a>{{ officer.user.first_name }}</a></td>
            {% if userIsOwner == True%}
            <td><a>{{ officer.user.email }}</a></td>
            {%endif%}
            {% if userIsOfficer == True%}
            <td><a>{{ officer.user.email }}</a></td>
            {%endif%}
            <td><i></i></td>
          </tr>
          {% endfor %}
          </table>


          <td><a href='{% url 'members_list' club.id %}' class="btn btn-primary">Show Members</a></td>
        {%endif%}
        {% if userIsOwner == True%}
          <td><a href='{% url 'banned_members' club.id %}' class="btn btn-primary">Banned Members</a></td>
          <td><a href='{% url 'edit_club_info' club.id %}' class="btn btn-primary">Edit</a></td>
          <td><a href='{% url 'show_applications_to_club' club.id %}' class="btn btn-primary">Show Applications</a></td>
          <td><a href='#' class="btn btn-danger">Delete Club</a></td>
        {%endif%}
        {% if userIsOfficer == True%}
          <td><a href='{% url 'banned_members' club.id %}' class="btn btn-primary">Banned Members</a></td>
          <td><a href='{% url 'show_applications_to_club' club.id %}' class="btn btn-primary">Show Applications</a></td>
        {%endif%}
      </div>
    </div>
  </div>
{% endblock %}
