{% extends 'base_content.html'%}
{% block title %}
| {{club.name}}
{% endblock %}
{% block content %}
{% include 'partials/js_confirm_messages.html'%}
{% load static %}
{% load define_action %}
{% check_is_lead_organiser current_user tournament as is_lead_organiser %}

{% get_organisers tournament as organisers %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        {%csrf_token%}
        <h1 style=font-size:50px><b>{{ tournament.name }}</b></h1>
        <br>
        <p>A tournament by {{ tournament.club.name }}. </p>
        <p>{{ tournament.description }} </p>
        <p><i class="bi bi-people-fill"></i> {{ tournament.capacity }} participants<p>
        <br>
        <h3><b>Organisers</b></h3>
        <style>
          .standard-chess-table{
            vertical-align: middle;
            border-spacing: 10px 2px;
          }
        </style>
        <table id="owner" class="table standard-chess-table">
          <tr>
            {% include 'member_list_partials/table_header_basics.html' with include_counter=True %}
            {% include 'member_list_partials/table_header_extras.html' with show_email=True %}
          </tr>
          {% for organiser in organisers %}
          <tr>
            {% include 'member_list_partials/table_row_basics.html' with user=organiser.member.user include_counter=True %}
            {% include 'member_list_partials/table_row_extras.html' with user=organiser.member.user show_email=True %}
          </tr>
          {% endfor %}
        </table>
        <br>
        <a style="float: right;" href='{% url "show_tournament" tournament.id %}' class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Add Co-Organiser</a>
        <br>
        <br>
        <a href='{% url 'show_club' tournament.club.id %}' class="btn btn-info">
          <i class="bi bi-reply-fill"></i> Back to club
        </a>
        <br>
        {% for group_stage in tournament_group_stages %}
          {% include 'tournament_partials/results_and_fixtures/group_stage.html' %}
        {% endfor %}
        <br>
        <br>
      </div>
    </div>
  </div>
{% endblock %}
