<script>
  var msgDic = {
    "kick": "Are you sure you want to kick this user from the club?",
    "ban": "Are you sure you want to ban this user from the club?",
    "transfer_ownership": "Are you sure you want to give up ownership?",
    "withdraw_application": "Are you sure you want to withdraw your application?",
    "leave_club": "Are you sure you want to leave this club?",
    "accept_application": "Are you sure you want to accept this applicant?",
    "reject_application": "Are you sure you want to reject this applicant?",
    "delete_applications":'Are you sure you want to delete this club?',
    "withdraw_from_tournament": "Are you sure you want to leave this tournament?"
  }
  function confirmMsg(msgType){

    if(confirm(msgDic[msgType])){
      return true;
    }else{
      event.stopPropagation(); event.preventDefault();
    }
  }
</script>
