{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block title %}
| Banned members
{% endblock %}
{% block content %}
{% load define_action %}
{% check_is_owner club current_user as is_owner %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{club.name}} Banned members: </h1>
        <style>
          .standard-table-spacing{
            vertical-align: middle;
            border-spacing: 10px 2px;
          }
        </style>
        <table class="table standard-table-spacing">

        {% if not club.get_banned_members %}
          <br>
          <tr>
            <b><p style="font-size: 250%;"> No banned members </p> </b>
          </tr>
        {% else %}
        {% if banned_members.has_other_pages %}
          {% bootstrap_paginate banned_members range=6 show_first_last="false" %}
        {% endif %}
          <tr>
            {% include 'user_list_partials/table_header_basics.html' with include_counter=True%}
            {% include 'user_list_partials/table_header_extras.html' with show_email=True %}
            {% if is_owner %}
            <th></th>
            {% endif %}

          </tr>
          {% for ban_member in banned_members %}
          <tr>
            {% include 'user_list_partials/table_row_basics.html' with user=ban_member.user include_counter=True %}
            {% include 'user_list_partials/table_row_extras.html' with user=ban_member.user show_email=True %}
            {% if is_owner %}
            <td style="width: 100px"><a style="width: 100px" href='{% url 'unban_member' ban_member.id %}' class="btn btn-danger">Unban</a></td>
            {% endif %}
          </tr>
          {% endfor %}

        {% endif %}
        </table>
        {% if banned_members.has_other_pages %}
          {% bootstrap_paginate banned_members range=6 show_first_last="false" %}
        {% endif %}
        <a href='{% url 'show_club' club.id %}' class="btn btn-info">
          <i class="bi bi-reply-fill"></i> Back to club page
        </a>
      </div>
    </div>
  </div>
{% endblock %}
